body {
    min-width: 1920/2;
    min-height: 1080/2;
}

.title>h1 {
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.gui {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}

.left-div {
    align-self: flex-start
}

.center-div {
    align-self: l;
}

.right-div {
    width: 15vw  !important;
}

.gui>div {
    margin: 10px;
}

.toolbar {
    margin: 0px;
    width: 20vw;
    min-width: 100px;
    min-height: 700px;
    height: 22.5vw;
    width: 20vw;
    /* border: 2px solid black; */
    background-color: white;
}

.toolbar>* {
    margin-left: 10px;
}

.canvas canvas {
    border: 2px solid black;
    background-color: white;
}

#canvasAll{
    border-radius: 10px;
    min-width: 300px;
    min-height: 300px;
    height: 30vw;
    width: 30vw;
    margin-left: 0vw;
}

#canvasSingle{
    border-radius: 10px;
    min-width: 300px;
    min-height: 300px;
    height: 25vw;
    width: 25vw;
}

#canvasSubtree{
    border-radius: 10px;
    min-width: 500px;
    min-height: 500px;
    height: 25vw;
    width: 25vw;
}

/* MODAL STYLES
Reference: https://jasonwatmore.com/post/2023/01/04/vanilla-js-css-modal-popup-dialog-tutorial-with-example
-------------------------------*/
.jw-modal {
    /* modals are hidden by default */
    display: none;

    /* modal container fixed across whole screen */
    position: fixed;
    inset: 0;

    /* z-index must be higher than everything else on the page */
    z-index: 10000;

    /* semi-transparent black background exposed by padding */
    background-color: rgba(0, 0, 0, .75);
    padding: 40px;

    /* enables scrolling for tall modals */
    overflow: auto;
}

.jw-modal.open {
    display: block;
}

.jw-modal-body {
    padding: 20px;
    background: #fff;
}

body.jw-modal-open {
    /* body overflow is hidden to hide main scrollbar when modal window is open */
    overflow: hidden;
}